@font-face {
  font-family: "iconfont"; /* Project id 3955357 */
  src: url('iconfont.woff2?t=1679040051906') format('woff2'),
       url('iconfont.woff?t=1679040051906') format('woff'),
       url('iconfont.ttf?t=1679040051906') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suo:before {
  content: "\e623";
}

.icon-shanchu1:before {
  content: "\e74b";
}

.icon-grid:before {
  content: "\e634";
}

.icon-zhanmanzhenggerongqidegaodu:before {
  content: "\e61a";
}

.icon-dashujukeshihuaico-:before {
  content: "\e7fb";
}

.icon-dashujukeshihuaico-1:before {
  content: "\e7fc";
}

.icon-wanggeshitu:before {
  content: "\e641";
}

.icon-caidancengji:before {
  content: "\e6c9";
}

.icon-colum-height:before {
  content: "\eafe";
}

.icon-moduanzhankai:before {
  content: "\eb10";
}

.icon-shangyiyiceng:before {
  content: "\e64a";
}

.icon-xiayiyiceng:before {
  content: "\e64b";
}

.icon-fenli:before {
  content: "\e622";
}

.icon-fenceng:before {
  content: "\e635";
}

.icon-quxiaofudong:before {
  content: "\e7f7";
}

.icon-fudong:before {
  content: "\e7f8";
}

